ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    cursor: pointer;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    display: block;
    width: 300px;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  li:hover {
    font-size: 30px;
    background: #f6f6f6;
  }